.features{
    background-color: $brown;
    padding-bottom: 120px;
    &__title{
        padding-top: 79px;
        h2{
            @include border-left;
            color: white;
        }
    }
    &__body{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 53px;
    }
    &__item{
        width: calc((100%-60px)/3);
        margin-right: 30px;
        h4{
            color: white;
        }
    }
    &__content{
        margin-top: 40px;
        p{
            margin-top: 17px;
        }
        
    }
}